[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Renovate Bot Tutorial source
[access "refs/*"]
	owner = group user/Felipe Santos (felipecrs)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Felipe Santos (felipecrs)
	label-Verified = -1..+1 group user/Felipe Santos (felipecrs)
	push = group user/Felipe Santos (felipecrs)
	read = group user/Felipe Santos (felipecrs)
	rebase = group user/Felipe Santos (felipecrs)
	removeReviewer = group user/Felipe Santos (felipecrs)
	submit = group user/Felipe Santos (felipecrs)
[access "refs/heads/*"]
	create = group user/Felipe Santos (felipecrs)
	push = +force group user/Felipe Santos (felipecrs)
	pushMerge = group user/Felipe Santos (felipecrs)
	read = group user/Felipe Santos (felipecrs)
	deleteOwnChanges = group user/Felipe Santos (felipecrs)
[access "refs/tags/*"]
	push = group user/Felipe Santos (felipecrs)
	push = +force group user/Felipe Santos (felipecrs)
